<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIPresentationControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1886E1E31C560992003B1560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1886E1FC1C560992003B1560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1886E2071C560992003B1560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
